.main-nav {
    background-color: rgb(37, 34, 34);
    height: 50px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.main-div {
    display: flex;
    justify-content: space-around;
}

.main-div .left {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}

.main-div .left .first-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 9px;
}

.main-div .left .first-div .first-div-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 9px;
}

.main-div .left .first-div .first-div-item {
    width: 80px;
    height: 20px;
    background-color: rgb(142, 142, 146);
}

.main-div .left .first-div .hiden {
    background-color: transparent;
}

.main-div .second-div .second-div-item {
    background-color: rgba(27, 25, 25, 0.692);
    height: 100px;
}

.third-div {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.third-div .third-div-item {
    flex-basis: 18%;
    align-items: center;
    flex-direction: column;
    display: inline-flex;
}

.third-div .third-div-item h3 {
    height: 16px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.281);
}

.third-div .third-div-item img {
    width: 100%;
    height: 60px
}

.main-div .right {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.main-div .right .first-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 5px;
}

.main-div .right .first-div .first-div-item {
    width: 30px;
    height: 20px;
    margin-bottom: 3px;
    background-color: rgb(142, 142, 146);
}

.right .second-div {
    margin-bottom: 20px;
}

.right .second-div .second-div-item {
    background-color: rgba(27, 25, 25, 0.692);
    height: 100px;
}

.main-div .right .third-div-right .third-div-right-item {
    background-color: rgb(142, 142, 146);
    height: 30px;
}

.main-div .right .four-div {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}

.four-div h3 {
    height: 10px;
    width: 100%;
    background-color: rgba(182, 179, 175, 0.445)
}

footer {
    height: 50px;
    background-color: rgba(5, 4, 4, 0.185);
}